*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
nav{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.navbar-brand img{
    width: 3rem;
} 
nav form a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgba(77, 77, 77, 0.75);
    font-size: 1.2rem;
    display: inline-block;
}
.nav-item{
    margin-left: 2rem ;
}
.side{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.left{
    text-align: center;
}
.left img{
    width: 100%;
 
}
.right{
    background: #f1f1f1;
    border-radius: 10px;
}
.right .head{
    text-align: center;
    margin-top: 1.5rem;
}
.right .head h2{
    color: rgba(77, 77, 77, 0.75);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}
.right form{
    margin: auto;
    width: 90%;
    margin-top: 1.5rem; 
}
.form-items{
    display: grid;
    
    grid-gap: 1rem;
}
.right form input{
    display: block;
    width: 100%;
    outline: none;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    background-color: #fefefe;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333 !important;
    transition: border 0.2s !important;
    margin-bottom: 1rem;
}
.right form button{
    background-color: #3DB760;
    color: rgb(254, 254, 254);
    width: 100%;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 1rem;
    transition: all 0.2s ease 0s;
    border-radius: 10rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin-top: 1rem;
}
.foot{
    text-align: center;
    margin-top: 1rem;
}
footer{
    background-color: #33647E;
    padding: 2rem;
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
footer span{
    margin: 0.5rem;
}
.icons img{
    margin: 0.5rem;
}




@media(max-width:570px){
    .nav-item{
        margin-left: 0rem ;
    }
    .side{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.form-items{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.right form{
    margin: auto;
    width: 95%;
    margin-top: 1.5rem; 
}
    
}



@media(min-width:571px) and (max-width:768px){
    .nav-item{
        margin-left: 0rem ;
    }
   .side{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
}
}