*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.navbar-brand img{
    width: 3rem;
} 
nav form a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgba(77, 77, 77, 0.75);
    font-size: 1.2rem;
    display: inline-block;
}
.nav-item{
    margin-left: 2rem ;
}
.head{
    background: url(/static/img/ashim-d-silva-pGcqw1ARGyg-unsplash.jpg) no-repeat center center/cover;
    height: 30rem;
}
.head1{
    background: url(/static/img/bailey-anselme-Bkp3gLygyeA-unsplash.jpg) no-repeat center center/cover;
    height: 30rem;
}
.head2{
    background: url(/static/img/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg) no-repeat center center/cover;
    height: 30rem;
}
.first{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgba(77, 77, 77, 0.75);
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.first button{
    background: #A1A468;
    padding: 10px 1rem;
    border: none;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.blog{
    color: rgba(77, 77, 77, 0.75);
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.blogposts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.card-img img{
    width: 100%;
    height: 15rem;
}
.card-text{
    padding: 1rem;
}
.card-text p{
    color: rgba(77, 77, 77, 0.75);
}
.email{
    margin-top:4rem;
    text-align: center;
    background: #A1A468;
    padding: 3rem;
    color: white;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.email input{
    padding-left: 5px;
    width: 15rem;
}
footer{
    background-color: #33647E;
    padding: 2rem;
    color: white;
    text-align: center;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
footer span{
    margin: 0.5rem;
}
.icons img{
    margin: 0.5rem;
}




@media(max-width:570px){
    .nav-item{
        margin-left: 0rem ;
    }
    .head{
        background: url(/static/img/ashim-d-silva-pGcqw1ARGyg-unsplash.jpg) no-repeat center center/cover;
        height: 15rem;
    }
    .head1{
        background: url(/static/img/bailey-anselme-Bkp3gLygyeA-unsplash.jpg) no-repeat center center/cover;
        height: 15rem;
    }
    .head2{
        background: url(/static/img/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg) no-repeat center center/cover;
        height: 15rem;
    }
    .blogposts{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .card-text{
        padding: 10px;
    }
}



@media(min-width:571px) and (max-width:768px){
    .nav-item{
        margin-left: 0rem ;
    }
    .blogposts{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}