*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
nav{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.navbar-brand img{
    width: 3rem;
} 
nav form a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgba(77, 77, 77, 0.75);
    font-size: 1.2rem;
    display: inline-block;
}
.nav-item{
    margin-left: 2rem ;
}
footer{
    background-color: #33647E;
    padding: 2rem;
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
footer span{
    margin: 0.5rem;
}
.icons img{
    margin: 0.5rem;
}




@media(max-width:570px){
    .nav-item{
        margin-left: 0rem ;
    }
    
    
}



@media(min-width:571px) and (max-width:768px){
    .nav-item{
        margin-left: 0rem ;
    }
   
}